/* Move down content because we have a fixed navbar that is 50px tall */
html { 
    /*background: url(../i/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}

body {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: transparent;
	/*background-image: url(../i/bg.jpg);*/
}
body.modal-open {
overflow: auto;
}
body.modal-open {
overflow: auto;
}
.container {
}
h1, h2, h3, h4, h4 {
	font-family: 'Copse', serif;
}

#containment-wrapper {
	height: 770px;
	 width: 95%;
	margin: 0 auto;
	background: rgba(255,216,201,0.22) url(../i/spiral-dark-areas.png) no-repeat;
	position: relative;
	z-index: 0;
}
#area_q1, #area_q2, #area_q3, #area_q4 {
<<<<<<< HEAD
	/*background-color: grey;
	*/
	opacity: 0.4;
=======
	/*background-color: grey;*/
	
	opacity: 0.8;
>>>>>>> 0826dbb3d562f591c5635b2b9cfd67758a4730b8
	margin: 0;
	padding: 0;
	text-indent: -9999px;
}
#area_q1 {
	background-image: url(../i/off/question_1.png);
	position: absolute;
	width: 236px;
	height: 158px;
	top: 154px;
	left: 248px;
	z-index: 11;
}
#area_q1.answered {
	background-image: url(../i/active/question_1.png);
	opacity: 1;
}
#area_q2 {
	background-image: url(../i/off/question_2.png);
	position: absolute;
	width: 194px;
	height: 256px;
	top: 276px;
	left: 512px;
	z-index: 12;
}
#area_q2.answered {
	background-image: url(../i/active/question_2.png);
	opacity: 1;
}
#area_q3 {
	background-image: url(../i/off/question_3.png);
	position: absolute;
	width: 220px;
	height: 235px;
	top: 61px;
	left: 8px;
	z-index: 13;
}
#area_q3.answered {
	background-image: url(../i/active/question_3.png);
	opacity: 1;
}
#area_q4 {
	background-image: url(../i/off/question_4.png);
	position: absolute;
	width: 343px;
	height: 179px;
	top: 592px;
	left: 248px;
	z-index: 14;
}
#area_q4.answered {
	background-image: url(../i/active/question_4.png);
	opacity: 1;
}

<<<<<<< HEAD
#user_notes {
	z-index: 30;
}

#draggableCell {
	z-index: 100;
=======
<<<<<<< HEAD
#draggableQueenDrop {
=======
#draggableCell {
>>>>>>> 0826dbb3d562f591c5635b2b9cfd67758a4730b8
	z-index: 10;
>>>>>>> 0832df144f7da09017be3d7e66a7b6739312536a
	background: url(../i/cell.png) no-repeat center center;
	border: none;
	position: relative;
	left: 28%;
	top: 40%;
}

<<<<<<< HEAD
#draggableQueenDrop p.ui-widget-header {
=======
div#draggableCell.answeredQ1 {
		background: url(../i/cell-q1.png) no-repeat center center;
}
div#draggableCell.answeredQ2 {
		background: url(../i/cell-q2.png) no-repeat center center;
}
div#draggableCell.answeredQ3 {
		background: url(../i/cell-q3.png) no-repeat center center;
}
#draggableCell p.ui-widget-header {
>>>>>>> 0826dbb3d562f591c5635b2b9cfd67758a4730b8
	display: block;
	width: 40px;
	height: 40px;
	border-radius:40px;
	text-align: center;
	margin: 32px auto;
	text-indent: -9999px;
	background-color: none;
	
<<<<<<< HEAD
}
=======
}
#demoContainer {
	width: 600px;
	height: 200px;
	background: teal;
	position: absolute;
	top: 500px;
	left: 300px;
	z-index: 20;
}
div.demoDraggable {
	background-color: red;
	width: 100px;
	height: 100px;
	border-radius:50px;
	text-align: center;
}
div.demoDraggable p{
	background-color: blue;
	width: 30px;
	height: 30px;
	border-radius:20px;
	
	}
>>>>>>> 0826dbb3d562f591c5635b2b9cfd67758a4730b8
