/* @override http://dev.github/p5-reference/p5documentation.css */
 canvas {
    margin: 10px;
}
body {
    font-family:"Helvetica Neue", Helvetica, Arial, sans;
}
pre, .offset {
    margin-left: 120px;
}
a.ref-link {
    display: block;
    padding: 15px;
    -webkit-transition:background-color 0.5s, -webkit-transform 0.5s;
    transition:background-color 0.5s, transform 0.5s;
}
a.ref-link:hover {
    background-color: rgba(222, 247, 251, 0.53);
}
a.ref-link.pending:hover {
    background-color: rgba(252, 249, 231, 0.53);
}
li.list-group-item {
    padding: 0;
}
a.ref-link.done {
    font-weight: bold;
}
a.ref-link.pending {
    color: grey;
}
a.ref-link.revisit {
    color: orange;
    font-weight: bold;
}
a.ref-link.removed {
    text-decoration:line-through;
    color: #d99c9c;
}
a.ref-link.removed:hover{
	background-color: rgba(252, 231, 231, 0.53);
}
#canvas0 {
    position: absolute;
    top: 0;
}
#canvas1 {
    position: absolute;
    top: 120px;
}
#canvas2 {
    position: absolute;
    top: 240px;
}
pre {
    position: absolute;
    left: 120px;
    width: 80%;
    margin: 0 0 0 20px;
}
#pre0 {
    top: 0px;
}
#pre1 {
    top: 132px;
}
#pre2 {
    top: 250px;
}

div.progress {
	background-color: #fff;
	-moz-box-shadow: 0 1px 1px #e5d7d7;
	box-shadow: 0 1px 1px #e5d7d7;
}
/**
 * http://nicolasgallagher.com/micro-clearfix-hack/
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
 .cf:before, .cf:after {
    content:" ";
    /* 1 */
    display: table;
    /* 2 */
}
.cf:after {
    clear: both;
}
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
 .cf {
    *zoom: 1;
}