canvas {
margin: 10px;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans;
}
pre,
.offset {
	margin-left: 120px;
}


a.ref-link {
	display: block;
	padding: 5px;
}

a.ref-link.done {
	font-weight: bold;
}

a.ref-link.pending {
	color: grey;
}
